.page-footer {
    width: 1440px;
    margin: 80px auto 0;
    min-height: 630px;
    position: relative;
}

.footer-top{
    min-height: 416px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(../img/map.jpg);
    background-repeat: no-repeat;
    .marker{
        display: block;
        position: absolute;
        top: 85px;
        right: 387px;
    }
    .writeus{
        padding-left: 50px;
        padding-top: 55px;
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        align-items: start;
        position: absolute;
        top: 50px;
        left: 143px;
        width: 320px;
        height: 310px;
        background-color: #fff;
        &__header {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 18px;
            margin: 0;
            margin-bottom: 25px;
        }
        &__text {
            margin: 0;
            margin-bottom: 20px;
        }
        &__button {
            background-color: #fb565a;
            border-radius: 3px;
            font-size: 14px;
            line-height: 18px;
            text-align: center;
            color: #FFFFFF;
            text-transform: uppercase;
            outline-style: none;
            border: none;
            padding: 15px 53px;
            margin-top: 15px;
            &:hover {
                background-color: #e74246 ;
                cursor: pointer;
            }
        }
    }
}

.footer-bottom{
    position: relative;
    display: flex;
    justify-content: space-between;
    min-height: 217px;
}

.social-logo{
    min-width: 540px;
    display: flex;
    align-items: center;
    .vk-logo{
        display: block;
        position: relative;
        left: 140px;
        width: 80px;
        height: 80px;
        background-color: #e1e1e1;
        border-radius: 50px 50px 50px 50px;
        .svg-vk{
            position: absolute; 
            top:32px;
            left: 25px;    
        }
        &:hover {
            background-color: #d7373b;
        }
    }
    .fb-logo{
        display: block;
        position: relative;
        left: 152px;
        fill: rgb(255, 255, 255);
        width: 80px;
        height: 80px;
        background-color: #e1e1e1;
        border-radius: 50px 50px 50px 50px;
        .svg-fb{
            position: absolute; 
            top:30px;
            left: 33px; 
        }
        &:hover {
            background-color: #d7373b;
        }
    }
    .insta-logo{
        display: block;
        position: relative;
        left: 162px;
        fill: rgb(255, 255, 255);
        width: 80px;
        height: 80px;
        background-color: #e1e1e1;
        border-radius: 50px 50px 50px 50px;
        .svg-insta{
            position: absolute; 
            top:30px;
            left: 29px;
        }
        &:hover {
            background-color: #d7373b;
        }
    }
}

.footer-offer{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    &__header {
        font-size: 36px;
        font-family: Roboto medium;
        margin-bottom: 0;
        margin-top: 15px;
    }
    &__text {
        font-size: 16px;
        margin-top: 10px;
    }
} 





