@font-face {
font-family: 'Roboto', sans-serif;
src: url(../fonts/Roboto-Light.ttf);
src: url(../fonts/Roboto-Medium.ttf);
src: url(../fonts/Roboto-Bold.ttf);
}

body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box; 
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

input[type="checkbox"].visually-hidden, input[type="radio"].visually-hidden,
.visually-hidden{
    position: relative;
    width: 0;
    margin: -1px;
    height: 0;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    display: none;
}

.page-header {
    height: 545px;
    background-color: #eee;    
}

.container{
    width: 1160px;
    padding-top: 50px;
    margin: 0 auto;    
}

.main-nav {
    li::after {
        content:"";
        position: absolute;
        top: 35px;
        left: -5px;
        transition: 0.2s;
        display: inline-block;
        width: 0;
        height: 3px;
        background-color: red;
    }
    li:hover::after {
        width: 115%;
    }
    li {
        position: relative;
        margin-left: 48px;
        text-transform: uppercase;
        padding-top: 10px;  
        & a:hover {
            color: red;
        }      
    }
    .bascet li::before {
        content: "";
        position: relative;
        top: 2px;
        display: inline-block;
        width: 15px;
        height: 15px;
        margin-right: 25px;
        background-image: url(../img/cart-icon.png);
        background-repeat: no-repeat;
    }
    margin-bottom: 6px;
}

.nav-wraper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-navigation {
    display: flex;
    padding-left: 0;
}

.slider {
    position: relative;
}

.slide-one {
    display: none;
    height: 420px;
    background-image: url(../img/slide1.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-x: 430px;
    .slider-one-header {
        margin-top: 0;
        padding-top: 65px;
        font-size: 53px;
        line-height: 1.1;
        letter-spacing: 1px;
        margin-bottom: 25px;
    }
    .slider-one-text {
        line-height: 1.5;
        margin-bottom: 53px;
    }  
}

.slide-two {
    display: none;
    height: 420px;
    background-image: url(../img/slide2.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-x: 430px;
    .slider-two-header {
        margin-top: 0;
        padding-top: 65px;
        font-size: 53px;
        line-height: 1.1;
        letter-spacing: 1px;
        margin-bottom: 25px;
    }
    .slider-two-text {
        line-height: 1.5;
        margin-bottom: 53px;
    } 
}

.slide-three {
    display: none;
    height: 420px;
    background-image: url(../img/slide3.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-x: 400px;
    .slider-three-header {
        margin-top: 0;
        padding-top: 65px;
        font-size: 53px;
        line-height: 1.1;
        letter-spacing: 1px;
        margin-bottom: 25px;
    }
    .slider-three-text {
        line-height: 1.5;
        margin-bottom: 53px;
    }  
}
@keyframes fade{
    from {
        // transform: translateX(-1%);
        transform: scale(0.8, 0.8);
        opacity: 0;
    }
    to {
        // transform: translateX(0);
        transform: scale(1, 1);
        opacity: 1;
    }
}
.slide-show {
    animation-name: fade;
    animation-duration: 1s;
    display: block;
}

.know-more {
    margin-top: 25px;
    border-radius: 3px;
    background-color: #fb565a;
    padding: 15px 55px;
    text-transform: uppercase;
    color: #fff;
    &:hover {
        background-color: #e74246;
    }
} 

.slider-control {
    width: 70px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 305px;
    left: 535px;
    label::after {
        content: "";
        position: absolute;
        width: 21px;
        height: 21px;
        border-radius: 100%;
        background-color: #fff;
        border: 2px solid rgba(0, 0, 0, 0.2);
    }
    label:hover::after {
        border: 2px solid rgba(0, 0, 0, 0.5);
    }
    span {
        position: absolute;
    }
    input:checked + span::before {
        content: "";
        position: relative;
        z-index: 2;
        display: inline-block;
        top: 3px;
        left: 7px;
        width: 7px;
        height: 7px;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 100%;
        border: 2px solid rgba(0, 0, 0, 0.3);
    }
}













